/* you can add your App.css */
.app-user-block {
  padding: 0 1em;
  margin-left: 0.5em;
}
.app-user-block:hover {
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}
.app-user {
  margin-left: auto;
  margin-right: 1em;
}
.app-home {
  width: 3em;
  height: 3em;
  margin-left: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.7em;
  background-color: rgba(255, 255, 255, 0.1);
}
.app-home:hover {
  cursor: pointer;
  border: solid 1px rgba(255, 255, 255, 0.3);
}
.app-home-icon {
  color: white;
  font-size: 1.6em;
}
.app-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('./assets/background1.jpg');
  background-size: 100% 100%;
}

.footer {
  background: linear-gradient(to right, #8832b7, #7464fa);
}
