.favorite {
  display: flex;
  font-size: 16px;
  font-weight: bold;
  height: 24px;
  justify-content: space-around;
  align-items: center;
}

.star {
  padding-right: 5px;
}

.star active {
  padding-right: 5px;
}
