.related-links-box {
  margin-top: 3em;
  min-width: 30em;
  overflow: hidden;
}
.related-links-line {
  /* background-color: #7464FA; */
  background: linear-gradient(to right, #7464fa 30%, rgb(199, 189, 211));
  height: 1em;
  width: 110%;
  position: relative;
  top: -2.3em;
  left: -2em;
}
.related-links-head {
  display: flex;
  justify-content: space-between;
}
.related-links-list {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
