.KnowledgeMap-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.KnowledgeMap-toolbar:hover{
    cursor: pointer;
    opacity: 0.5;
}
.KnowledgeMap-tips{
    width: 100%;
    margin-top: 1em;
}
.KnowledgeMap-tips-title{
    color: #4d5156;
    font-size: 14px;
}
.KnowledgeMap-tips-text{
    opacity: 0.67;
    font-size: 12px;
}