
.search-recommend{
    margin-top: 3em;
    min-width: 52em;
    overflow: hidden;
}
.search-recommend-line{
    /* background-color: #7464FA; */
    background:  linear-gradient(to right, #7464FA 30%, rgb(199, 189, 211));
    height:1em;
    width: 110%;
    position: relative;
    top: -2.3em;
    left: -2em;
}
.search-recommend-head{
    display: flex;
    justify-content: space-between;
}
.search-recommend-list{
    display: flex;
    flex-direction: column;
    align-items: baseline;
}